<html>
  <head>
    <title>Welcome to NGINX!</title>
  </head>
  <body style="font-family: sans-serif; text-align:center; margin-top:50px;">
    <h1>{{ nginx_index_message }}</h1>
    <p>Managed by Ansible</p>
  </body>
</html>

